body {
  /* 画像ファイルの指定 */
  background-image: url(images/photo.jpg);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

.px20 {
  margin: 20px;
}

.content {
  background-color: rgba(31, 20, 11, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin: 10px 200px;
}

.title {
  background-color: #1565C0;
}

h3.white {
  color: white;
  text-align: center;
  padding: 20px;
}

label.white {
  color: white;
}

.form {
  padding-left: 140px;
  padding-top: 30px;
}

.form-group {
  display: table-cell;
  padding: 0 50px;
}

.distance, .type {
  width: 208px;
  height: 35px;
}

/*ボタン*/
.square_btn {
  display: inline-block;
  padding: 0.3em 2em;
  text-decoration: none;
  background: #FF5722;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 18px;
}

.square_btn:active {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.center {
  margin-left: 275px;
  padding: 50px 0;
}

.px30 input {
  height: 30px;
  width: 200px;
}
